<div class="dashboard-container">
  <div class="row justify-content-center">


    <div class="col-md-1">
      <div class="selection-container">
        <h2 class="selection-title">Ma sélection</h2>
         <div class="missions-container">
          <% @favorites.each do |favorite| %>
            <div class="card mission-card">
              <div class="mission-card-content">
                <% if favorite.mission.photo.attached? %>
                  <%= link_to mission_path(favorite.mission) do %>
                    <%= cl_image_tag(favorite.mission.photo.key, class: "mission-image") %>
                  <% end %>
                <% end %>
              </div>
              <div class="card-body">
                <h3 class="mission-title"><%= favorite.mission.title  %></h3>
                <p class="mission-description"><%= favorite.mission.description.truncate(80) %></p>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </div>





  <h2>Missions en attente de validation</h2>
  <% @pending_missions.each do |mission| %>
    <div class="card">
      <% if mission.photo.attached? %>
          <%= cl_image_tag mission.photo.key%>
      <% end %>
      <div class="card-infos">
        <div>
          <h1><%= mission.title  %></h1>
          <p><%= mission.description %></p>
        </div>
      </div>
    </div>
  <% end %>


<h3>Calendrier + liste des missions validées</h3>
<% @accepted_missions.each do |mission| %>
  <div class="card">
    <% if mission.photo.attached? %>
        <%= cl_image_tag mission.photo.key%>
    <% end %>
    <div class="card-infos">
      <div>
        <h1><%= mission.title  %></h1>
        <p><%= mission.description %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
