<div class="hero-container">
  <div class="separator"></div> <!-- Fond kaki -->
  <div class="hero-image">
    <%= image_tag 'Rectangle_4472_V2.jpg', class: 'img-fluid' %> <!-- L’image est indépendante du fond -->
  </div>
</div>

<div class="page-content"> <!-- Cette div va faire descendre le kaki -->
  <div class="container">
    <section class="intro">
      <p>
        VOUS AIMERIEZ DONNER DE VOTRE TEMPS, MAIS VOUS NE SAVEZ PAS OÙ CHERCHER ?<br>
        VOUS AVEZ PEUT-ÊTRE 1H PAR SEMAINE OU DES COMPÉTENCES SPÉCIFIQUES À OFFRIR PONCTUELLEMENT,<br>
        MAIS AUCUNE PLATEFORME NE VOUS PERMET DE VOUS ENGAGER FACILEMENT ?
      </p>
      <div class="intro-bis">
        <h2>VOUS ÊTES AU BON ENDROIT</h2>
      </div>
    </section>
  </div>

  <section class="features mx-0 row text-center">
    <div class="col-md-3 feature">
      <i class="fa fa-calendar"></i>
      <h3>Des missions adaptées à votre emploi du temps</h3>
    </div>

    <div class="col-md-3 feature">
      <i class="fa fa-hand-pointer"></i>
      <h3>Swipez & Postulez en un clic</h3>
    </div>

    <%# <div class="col-md-3 feature">
      <i class="fa fa-check-circle"></i>
      <h3>Engagez-vous selon vos compétences</h3>
    </div> %>

    <div class="col-md-3 feature">
      <i class="fa fa-users"></i>
      <h3>Un accès rapide aux associations</h3>
    </div>
  </section>

    <div class="text-center">
      <a href="<%= missions_path %>" class="btn-index">Par ici pour trouver votre mission</a>
    </div>


        <!-- Section Témoignages -->
    <section class="testimonials-section py-3">
      <div class="testimonials-container">
        <div class="testimonials-big-title">
          <h2>Ils se sont engagés !</h2>
        </div>

        <!-- Slider Swiper -->
        <div class="swiper" data-controller="carousel">
          <div class="swiper-wrapper">

            <!-- Slide 1 -->
            <div class="swiper-slide">
              <div class="testimonial-content">
                <%= image_tag asset_path('Rectangle_4474.jpg'), class: 'testimonial-image' %>
                <div class="testimonials-text">
                  <h3>Léna, 36 ans - Protection animale</h3>
                  <p>
                    "Je voulais aider, mais je ne savais pas où chercher...
                    Sur BenevoFlex, j’ai filtré par mes centres d’intérêt
                    et j’ai trouvé une association qui sauve des animaux.
                    Je peux les aider quand j’ai du temps libre. Trop facile !"
                  </p>
                </div>
              </div>
            </div>

            <!-- Slide 2 -->
            <div class="swiper-slide">
              <div class="testimonial-content">
                <%= image_tag asset_path('Rectangle_4474.jpg'), class: 'testimonial-image' %>
                <div class="testimonials-text">
                  <h3>Emma, 21 ans - Aide aux devoirs</h3>
                  <p>
                    "Entre les cours et les exams, ce n'était pas évident de donner de mon temps.
                    BenevoFlex m’a permis de trouver une association pour aider des collégiens en maths,
                    quand je veux !"
                  </p>
                </div>
              </div>
            </div>

            <!-- Slide 3 -->
            <div class="swiper-slide">
              <div class="testimonial-content">
                <%= image_tag asset_path('Rectangle_4474.jpg'), class: 'testimonial-image' %>
                <div class="testimonials-text">
                  <h3>Lucas, 23 ans - Protection de l’environnement</h3>
                  <p>
                    "Je voulais agir concrètement pour l’écologie. Grâce à BenevoFlex,
                    j’ai participé à des nettoyages de plages et rencontré des gens inspirants.
                    Je me sens vraiment utile !"
                  </p>
                </div>
              </div>
            </div>

            <!-- Slide 4 -->
            <div class="swiper-slide">
              <div class="testimonial-content">
                <%= image_tag asset_path('Rectangle_4474.jpg'), class: 'testimonial-image' %>
                <div class="testimonials-text">
                  <h3>Mélissa, 20 ans - Soutien aux sans-abri</h3>
                  <p>
                    "J’ai trouvé une mission où j’aide à distribuer des repas et discuter avec des personnes sans-abri.
                    Ça me permet de casser certaines idées reçues."
                  </p>
                </div>
              </div>
            </div>

            <!-- Slide 5 -->
            <div class="swiper-slide">
              <div class="testimonial-content">
                <%= image_tag asset_path('Rectangle_4474.jpg'), class: 'testimonial-image' %>
                <div class="testimonials-text">
                  <h3>Jules, 22 ans - Animation en maison de retraite</h3>
                  <p>
                    "J’adore échanger avec les personnes âgées. Sur BenevoFlex,
                    j’ai découvert qu’une maison de retraite cherchait des étudiants
                    pour animer des jeux et discuter avec les résidents.
                    Ça me fait du bien autant qu’à eux !"
                  </p>
                </div>
              </div>
            </div>

          </div>

          <!-- Pagination -->
          <div class="swiper-pagination"></div>

          <!-- Navigation -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </section>
  </div>
</div>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
