<!-- Section 1 : Participations en attente -->
<div class="dashboard-container">
    <div class="row justify-content-center w-100">
    <div class="col-md-4">
      <div class="selection-container">
        <h2 class="selection-title">Mes participations en attente de validation</h2>
        <div class="missions-container d-flex flex-wrap justify-content-center">
          <% @participations_per_mission.each do |participations| %>
              <% next if participations.empty? %> <!-- si pas de participation on passe a la mission suivante  -->
              <div class="card mission-card mx-2 my-2 position-relative">
                <h3 class="mission-title"><%= participations.first.mission.title %></h3>
                <ul>
                  <% participations.each do |participation| %>
                    <li>
                      <%= participation.user.username %>
                      <%= button_to "Accepter", accept_participation_path(participation), method: :patch, class: "btn btn-sm btn-success" %>
                      <%= button_to "Refuser", reject_participation_path(participation), method: :patch, class: "btn btn-sm btn-danger" %>
                    </li>
                  <% end %>
                </ul>
              </div>

          <% end %>
        </div>
      </div>
    </div>


    <!-- Section 2 : Mes misions mis à disposition -->
    <div class="col-md-4">
      <div class="selection-container">
        <h2 class="selection-title">Mes missions mises à disposition</h2>
        <div class="missions-container d-flex flex-wrap justify-content-center">
          <% @missions.each do |mission| %>
            <div class="card mission-card mx-2 my-2 position-relative">
              <% if mission.photo.attached? %>
                <%= link_to cl_image_tag(mission.photo.key, class: "mission-image"), mission_path(mission) %>
              <% end %>

              <div class="card-body">
                <h3 class="mission-title"><%= mission.title %></h3>
                <!--<p class="mission-description"><%= mission.description %></p> -->
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <!-- Section 3 : Formulaire pour créer une mission -->
    <section class="col-md-4">
      <%= simple_form_for @mission, url: missions_path, html: { multipart: true, class: 'mission-form' } do |f| %>
      <h2 class="section-title">Créer une nouvelle mission</h2>
        <div class="form-group">
          <%= f.input :title, label: "Titre de la mission", class: 'form-input' %>
        </div>

        <div class="form-group">
          <%= f.input :description, label: "Description", class: 'form-input' %>
        </div>

        <div class="form-group">
          <%= f.input :category, collection: Mission::CATEGORIES, prompt: "Sélectionnez une catégorie", label: "Catégorie", class: 'form-control form-input' %>
        </div>

        <div class="form-group">
          <%= f.input :address, label: "Adresse / Lieu", class: 'form-input' %>
        </div>

        <div class="form-group">
          <%= f.input :start_date,  as: :string,
            input_html: { data: { controller: "datepicker" } }, label: "Date de début", class: 'form-control form-input' %>
        </div>

        <div class="form-group">
          <%= f.input :end_date, as: :string,
            input_html: { data: { controller: "datepicker" } }, label: "Date de fin", class: 'form-input' %>
        </div>

        <div class="form-group">
          <%= f.input :photo, as: :file, label: "Image de la mission", class: ' form-input' %>
        </div>

        <div class="form-group">
          <%= f.button :submit, "Créer la mission", class: 'form-button-mission' %>
        </div>
      <% end %>
    </section>

    </div>
</div>
