

    <div class="d-flex h-100">
      <div class="swipe-form">
        <%= form_with model: @mission, url: missions_path, method: :get, class: "d-flex flex-column py-3" do |form| %>

          <div class="select-field" data-controller="form-expand">
            <%= form.label "Sélectionnez une adresse", class: "form-control", data: {active: "false", action: "click->form-expand#expand"} %>
            <div class="search-dropdown" data-form-expand-target="selectField">
              <%= form.collection_radio_buttons :address, Mission.select(:address).distinct, :address, :address,
                  { },
                  { class: "d-none" }%>
            </div>
          </div>

          <div class="select-field" data-controller="form-expand" >
            <%= form.label "Sélectionnez une catégorie", class: "form-control", data: {active: "false", action: "click->form-expand#expand"}  %>
            <div class="search-dropdown" data-form-expand-target="selectField">
              <%= form.collection_radio_buttons :category, Mission.select(:category).distinct, :category, :category,
                  { },
                  { class: "d-none"}%>
            </div>
          </div>

          <div class="select-field">
            <%= form.text_field :start_date,
                class: "form-control",
                data: {controller: "datepicker", action: "click->form-expand#expand blur->form-expand#collapse"},
                placeholder: "Sélectionnez une date" %>
          </div>

          <%= form.submit "Rechercher", class: "btn my-5" %>
        <% end %>
      </div>

      <div class="central-elements">

        <div class="card-list-container d-flex position-relative ">
          <% @missions.each do |mission|%>
            <div class="d-flex align-items-center position-absolute gap-3" data-controller="swipe">
              <div class="pointer" data-action="click->swipe#dislike">
                <i class="fa-solid fa-circle-xmark fs-1"></i>
              </div>

              <div class="card" data-swipe-target="card">
                <% if mission.photo.attached? %>
                  <%= cl_image_tag mission.photo.key%>
                <% end %>
                <div class="card-infos">
                  <div>
                    <h1><%= mission.title  %></h1>
                    <p><%= mission.description %></p>
                  </div>
                </div>
              </div>

              <div>
                <%= link_to favorites_path(mission), data: {turbo_method: :post, action:"click->swipe#like"} do %>
                  <i class="fa-solid fa-heart fs-1"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="dashboard-button">
          <%= link_to "J'accède à ma sélection", dashboard_path, class:"btn my-3"%>
        </div>
      </div>
    </div>
