<div class="swipe">
  <div class="container">
    <div class="d-flex ">

      <div class="swipe-form">
        <%= form_with model: @mission, url: missions_path, method: :get, class: "d-flex flex-column py-3" do |form| %>

          <%= form.collection_select :address, Mission.select(:address).distinct, :address, :address,
              { prompt: "Sélectionnez une ville" },
              { class: "form-control" } %>

          <%= form.collection_select :category, Mission.select(:category).distinct, :category, :category,
              { prompt: "Sélectionnez une catégorie" },
              { class: "form-control" } %>

          <%= form.select :start_date, options_for_select(Mission.pluck(:start_date).uniq.map { |date| [date.strftime("%d/%m/%Y"), date] }, params.dig(:mission, :début)),
              { prompt: "Sélectionnez une date" },
              { class: "form-control" } %>

          <%= form.submit "Rechercher", class: "btn mt-2" %>
        <% end %>
      </div>

      <div class="d-flex flex-column " >
        <div class="position-relative card-list-container">
          <% @missions.each do |mission|%>
            <div class="d-flex align-items-center position-absolute" data-controller="swipe">
              <div data-action="click->swipe#dismiss">
                <i class="fa-solid fa-circle-xmark fs-1"></i>
              </div>

              <div class="card">
                <% if mission.photo_url? %>
                  <img src= '<%= image_tag mission.photo_url, crop: :fill%>' alt='photo mission'>
                  <div class="card-infos">
                    <div>
                      <h1><%= mission.title  %></h1>
                      <p><%= mission.description %></p>
                    </div>
                  </div>
                <% else %>
                  <div class="card-infos">
                      <div>
                        <h1><%= mission.title  %></h1>
                        <p><%= mission.description %></p>
                      </div>
                    </div>
                <% end %>
              </div>
              <div>
                <%= link_to favorites_path(mission), data: {turbo_method: :post, action:"click->swipe#dismiss"} do %>
                    <i class="fa-solid fa-heart fs-1"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="d-flex justify-content-center py-5">
          <%= link_to "J'accède à ma sélection", dashboard_path, class:"btn"%>
        </div>
      </div>

    </div>
  </div>
</div>
