<div class="background">
 <div class="container">
     <div class="row justify-content-center">
      <div class="col-md-16">
        <%= cl_image_tag(@organisation.photo.key, class: "association-image", alt: @organisation.name, width: 1300, height: 500, crop: :fill, gravity: :auto) %>
      </div>
     </div>
 </div>
</div>

<div class="full-page-bg">
  <div class="second-section position-relative">
    <div class="container">
      <div class="row align-items-start">


 <div class="col-md-3 d-flex justify-content-center align-items-start">
    <%= cl_image_tag(@mission.photo.key, class: "mission-image", alt: @mission.title, width: 300, height: 300, crop: :fill, gravity: :auto) %>
  </div>


  <div class="col-md-9 d-flex flex-column align-items-start justify-content-start third-section">
     <h2 class="mb-2 text-center w-100 organisations-text">Association : <%= @organisation.name %></h2>
        <p class="mb-3 font-paragrah"><%= @organisation.description %></p>
      <h2 class="mb-2 text-center w-100 organisations-text">Mission : <%= @mission.title %></h2>
        <p class="mb-3 font-paragrah"><%= @mission.description %></p>


  <div class="mt-3 w-100 d-flex justify-content-between">
    <div class="col-md-3">
       <%= link_to "Je m'engage", dashboard_path(@mission), class: "btn fw-bold text-uppercase bg-black w-100" %>
    </div>
    <div class="col-md-3 text-end">
       <%= link_to "Retour sur mon espace", dashboard_path(@mission), class: "btn fw-bold text-uppercase bg-black w-100" %>
    </div>
  </div>

  </div>
      </div>
 </div>
  </div>
</div>
