<!DOCTYPE html>
<html>
  <head>
    <title>BenevoFlex simplifie l’engagement bénévole en le rendant rapide, flexible et accessible. Trouvez en un clic une mission qui correspond à vos disponibilités grâce à notre système de matching intelligent. Un engagement sans contrainte pour maximiser l'impact associatif et encourager l’action !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/jtv1qeu.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= favicon_link_tag %>

  </head>

  <body>
    <%= render "shared/navbar" %>
    <main>
      <%= render "shared/flashes" %>
      <%= yield %>
    </main>
     <%= render "shared/footer" %>
  </body>

</html>
